ol, ul {
  padding-left: 30px;
  margin: 20px;
}
li {
	margin: 5px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

button{
  background: #777;
  border: lightblue;
  margin: 20px;
  border-radius: 10px;
}
.square {
  background: #777;
  border-radius: 20px;
  border: 5px solid lightblue;
  float: left;
  font-size: 90px;
  color: white;
  height: 200px;
  width: 200px;
}

:root {
	background: lightblue;
}

.square:focus {
  outline: white ;
}

.kbd-navigation .square:focus {
  background: #777;
}

.scoreboard {
	background: lightblue;
}
.game {
  margin: 0;
  background: lightblue;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.game-info {
  margin-left: 80%;
  margin-top: 20px;
  float: left;
  font-size: 20px;
  font-weight: bold;
  height: 32px;
  width: 300px;

}
